<div class="left-column">
    <img class="portait" src="https://www.codeur.com/tuto/wp-content/uploads/2022/01/MG_0110-4-293x300.jpg" />
    <div class="section">
      <p>
        <i class="icon fab fa-linkedin text-darkblue"></i> {{cvdataleft.nom}}-{{cvdataleft.prenom}}
    </div>
    <div class="section">
      <h2>À PROPOS</h2>
      <p>
        Le <strong>Front-end</strong> est une de mes passions : j’aime intégrer ou imaginer des interfaces modernes, les rendre responsive et les dynamiser avec des animations élégantes. Mes deux technos de coeur sont <strong>Angular</strong> et <strong>Bootstrap</strong>, que j’utilise depuis plus de 6 ans. Je suis aussi Fullstack : PHP, MySQL, Doctrine… 
      </p>
      <p>
        De nature débrouillard et indépendant dans mon travail, j’aime apprendre de nouvelles technologies, passer du temps à résoudre des problèmes et réaliser du code de qualité. Mes valeurs de travail : clean code, flexibilité, performance et sérieux.
      </p>
    </div>
    <div class="section">
      <h2>COMPÉTENCES</h2>
      <ul class="skills">
        <li><i class="icon fas fa-check-circle text-darkblue"></i> <strong>Angular &#124; Typescript</strong></li>
        <li><i class="icon fas fa-check-circle text-darkblue"></i> <strong>Bootstrap</strong></li>
        <li><i class="icon fas fa-check-circle text-darkblue"></i> <strong>HTML5 &#124; CSS3 &#124; SASS</strong></li>
        <li><i class="icon fas fa-check-circle text-darkblue"></i> <strong>Javascript</strong></li>
        <li><i class="icon fas fa-check-circle text-darkblue"></i> <strong>jQuery</strong></li>
        <li><i class="icon fas fa-check-circle text-darkblue"></i> <strong>npm &#124; Webpack</strong></li>
        <li><i class="icon fas fa-check-circle text-darkblue"></i> PHP</li>
        <li><i class="icon fas fa-check-circle text-darkblue"></i> Zend Framework</li>
        <li><i class="icon fas fa-check-circle text-darkblue"></i> MySQL</li>
        <li><i class="icon fas fa-check-circle text-darkblue"></i> Git &#124; Github</li>
      </ul>
    </div>
    <div class="section">
      <h2>Langues</h2>
      <p>
        Français, langue maternelle
        <br>
        Anglais, compétence professionnelle
      </p>
    </div>
    <div class="section">
      <h2>Centres d'intérêt</h2>
      <p>
        Jeux vidéo, jouer et développer
        <br>
        Musique, écoute et composition
        <br>
        Art en général
        <br>
        Sport
        <br>
        Informatique en général
      </p>
    </div>
  </div>