<div class="center-section">
    <div>
        <label for="nom">Nom :</label>
        <input type="text" #nom class="input-field" required>

        <label for="prenom">Prénom :</label>
        <input type="text" id="prenom" #prenom name="prenom" class="input-field" required>

        <label for="phone">Phone :</label>
        <input type="tel" #phone name="phone" class="input-field" required>

        <label for="email">Email :</label>
        <input type="email" #email class="input-field" required>

        <label for="experience1">Expérience 1 :</label>
        <input type="text" #experience1 class="input-field" />

        <label for="experience2">Expérience 2 :</label>
        <input type="text" #experience2 class="input-field" />

        <label for="experience3">Expérience 3 :</label>
        <input type="text" #experience3 class="input-field" />

        <label for="experience4">Expérience 4 :</label>
        <input type="text" #experience4 class="input-field" />

        <label for="experience5">Expérience 5 :</label>
        <input type="text" #experience5 class="input-field" />


        <div id="experiences-fields" class="dynamic-fields">
        </div>

        <label for="adresse1">Adresse 1 :</label>
        <input type="text" #adresse1 class="input-field" />

        <label for="adresse2">Adresse 2 :</label>
        <input type="text" #adresse2 class="input-field" />


        <button type="submit" value="Soumettre">aaa</button>

        <button value="Afficher Details" (click)="afficherNom(nom.value)">afficher Nom</button>
        <button value="Afficher Details " (click)="actionformtoapp(nom.value,prenom.value,phone.value,email.value)">Action</button>

        
    </div>
</div>