.input-field {
    margin: 10px 0;
    padding: 5px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.dynamic-fields {
    display: none;
}

/* Style pour les champs dynamiques (ajoutés en JavaScript) */
.dynamic-field {
    margin: 10px 0;
    padding: 5px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.center-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}