<div class="section">
    <h2>Études <br><span class="text-blue">& formations</span></h2>
    <p>
        <strong>2015 <i class="fas fa-long-arrow-alt-right"></i> 2019</strong>
        <br>
        <em>Bachelier en Informatique de Gestion</em>, Diplômé, Institut Saint Laurent
    </p>
    <p>
        <strong>2015</strong>
        <br>
        <em>STE-Formations Informatiques</em>, Formation qualifiante de Web Developer
    </p>
    <p>
        <strong>2013 <i class="fas fa-long-arrow-alt-right"></i> 2014</strong>
        <br>
        <em>Bachelier en Sciences humaines</em>, Haute École de Liège
    </p>
    <p>
        <strong>2009 <i class="fas fa-long-arrow-alt-right"></i> 2013</strong>
        <br>
        <em>Bachelier en Psychologie</em>, Université de Liège
    </p>
    <p>
        <strong>2002 <i class="fas fa-long-arrow-alt-right"></i> 2009</strong>
        <br>
        <em>CESS</em>, Institut Notre-Dame de Jupille
    </p>
</div>