<div class="cv-container">
    <app-cvleftcolumn [cvdataleft]="cvdata1"></app-cvleftcolumn>
    <div class="right-column">
        <app-rightcolumn [cvDataRight]="cvdata"></app-rightcolumn>
        <div class="content">
            <app-rightcolumnmid [cvDataRightmid]="cvdata"></app-rightcolumnmid>
            <div class="section"><app-etudes></app-etudes></div>

            <app-autres></app-autres>

        </div>
    </div>
</div>
