<div class="header">
    <h1>{{cvDataRight.nom}} <span class="text-blue text-uppercase">{{cvDataRight.prenom}}</span></h1>
    <p>Freelance Front-end Developer</p>
    <ul class="infos">
      <li><i class="icon fas fa-at text-blue"></i> <a href="mailto:contact@pgomba.com">{{cvDataRight.email}}</a></li>
      <li><i class="icon fas fa-phone text-blue"></i> {{cvDataRight.phone}}</li>
      <li><i class="icon fas fa-map-marker-alt text-blue"></i> Boulevard de la Constitution 31, 4020 Liège</li>
    </ul>
  </div>