<div class="section">
    <h2>Autres <br><span class="text-blue">expériences</span></h2>
    <p>
        Permis B, possession d’une voiture
        <br>
        Animateur Scout pendant 6 ans
        <br>
        Brevet d’animateur de Centre de Vacances
    </p>
</div>