<div class="section">
    <h2>Expériences <br><span class="text-blue">professionelles</span></h2>
    <p>
        <strong>2015 <i class="fas fa-long-arrow-alt-right"></i> 2021</strong>
        <br>
        Fullstack Developer à temps plein chez <em>Webadev SPRL</em>
    </p>
    <ul class="experience-list">
        <li >Réalisations de sites web, d’e-shops, d’interfaces et d’applications web sous Angular et
            Bootstrap</li>
        <li *ngFor="let item of cvDataRightmid.experiences">{{item}}</li>
        <li>Intégration de templates Photoshop, Illustrator, Sketch, Figma</li>
        <li>Animations CSS / JS</li>
        <li>Responsive design</li>
        <li>UI / UX Design</li>
        <li>Projets sous npm et Webpack</li>
        <li>Collaboration avec d’autres studios graphique (Studio Debie, SOL,…)</li>
        <li>Optimisation des performances</li>
        <li>Développement de templates et de modules réutilisables</li>
        <li>Projets en équipe, utilisation quotidienne de SVN, Git et Github</li>
    </ul>
</div>
<div class="section">
    <p>
        <strong>2021</strong>
        <br>
        Freelance en activité
    </p>
    <ul class="experience-list">
        <li>Freelance Front-end Developer</li>
        <li>Unity Developer / Sound Designer</li>
    </ul>
</div>
